*{

  padding: 0px;
  margin: 0px;
  border: 0px;
  list-style:none;

}
h1, .h1, h2, .h2, h3, .h3,h4, .h4 {

margin-top: 0px;
margin-bottom: 0px;

font-size: 12px;

}


/*body*/

body{

 background: #FFF8DC;
 font-family: 'Open Sans', serif;
 font-size: 12px;

}


/*logo*/

header{
  
background: #000;


position: fixed;
width: 100%;
opacity: 0.5;


}

h1{
  margin-top: 0em;
}

header h1 a{

  
  font-size: 30px;
  text-decoration: none;

  color: #fff;
 

}
header h1{

width: 20%;


}


input.file {
  position: relative;
  text-align: right;
 background: #f1f;
  opacity: 0;
  z-index: 2;
}


/*alinear logo y menu de navegacion*/

header h1,#top-nav{

  
  vertical-align: middle;
  display: inline-block;
  margin-left: 2em;
  background: #000;

}


#top-nav{

background: #000;
text-align: center;
font-size: 16px;
width: 70%;

}

nav,section#social{

background: #000;
vertical-align: middle;
display: inline-block;
margin-left: 25em;
}


/*tama˜os de la section contenido*/



section#contenido{

height: 40em;
margin-top: 0em;
padding-top: 55px;

    text-align: center;
}

#col_1,#col_2,#col_3,#col_4{

  vertical-align: middle;
  display: inline-block;
  
}

#col_3 a{

  text-decoration: none;
 color: black;


}

#col_3 a:hover{

  text-decoration: none;
  color: #000;


}

#col_1 li,#col_2 li{

  vertical-align: middle;
  display: inline-block;

  
}

input#comentar{

 
  width: 100%;
  height: 2.1em;
  font-family: 'Open Sans', serif;
}
input#comentar:focus{
  outline:0px;
}

#amigos{

vertical-align: middle;
  display: inline-block;
 
 margin: .5em;
}

#post_iz,#post_de{
display: inline;
vertical-align: middle;
  display: inline-block;
  color: #000;
  margin: .1em;

 border-radius: .5em;
}
#post_iz{

vertical-align: middle;
  display: inline-block;
height: 100px;
 width: 22%;
 text-align: left;
}


#post_iz p{

vertical-align: middle;
display: inline-block;
text-align: left;

margin: .4em;
padding: .1em;

}

#post_iz p:hover{

 text-decoration: underline;
cursor: pointer;
}



#post_de{


 width: 75%;
 text-align: left;



}





#col_1{

width: 20%;
background: #fff;

height: 30em;
 border-right : 1px ridge black; 
}


#col_2{

  width: 40%;
  background: #fff;
 
  height: 33em;


}

#col_3{

  width: 20%;
  background: #fff;

  height: 33em;


}

#col_4{

  width: 15%;
  background: #fff;
 
  height: 33em;


}

#col_3 li{

  vertical-align: middle;
  display: inline-block;


}


#col_1_cp,#col_2_cp{

  vertical-align: middle;
  display: inline-block;
  
  
}



#col_1_cp li{

  width: 40%;
}

#col_1_cp li p{

  width: 40%;
}

#col_1_cp_1{

  width: 100%;
}

#col_1_cp li p,#col_1_cp li{

 vertical-align: middle;
  display: inline-block;

}



#col_1_cp_2{

  margin-top: 13em;
 width: 30%;


  
}

#col_1_cp_1,#col_1_cp_2{

  vertical-align: middle;
  display: inline-block;
  
  
}

#col_1_cp{

  width: 40%;

  margin-top: 1em;
  height: 33em;
  border-right : 1px ridge black; 

}
#col_2_cp{

  width: 50%;
  
  margin-top: 1em;
  height: 33em;

}

.col_2_article_1{


  vertical-align: middle;
  display: inline-block;
  width: 45%;
  height: 400px;
  background: #C0C0C0;
  margin: .3em;
  padding-top: 1em;



}

.col_2_article_1 a{


    
vertical-align: middle;
  display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    
    text-decoration: none;

    color: #000;
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}


#details{

    width: 40%;
    vertical-align: middle;
    display: inline-block;


}

#details a p{


}
#details a p:hover{


 color: red;
   -ms-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}






#detalle_1{


width: 50%;
}

#detalle_2{


width: 30%;

}

#detalle_2 a{

  color: #fff;
text-decoration: none;
background: #000;
width: 300px;
padding:1em;


}


#detalle_1,#detalle_2{

   vertical-align: middle;
  display: inline-block;
  

}


#edit{

 
  height: 35em;
  text-align: center;
}



#edit_img{

  margin: 1em;

}


.edit_t{

  vertical-align: middle;
  display: inline-block;
  width: 20%;
  background: #222;


}

footer{

  width: 100%;
  background-size: 100%;
  height: 10em;
  text-align: center;
  margin-top: -2em;
  padding-left: 1em;


}


/*menu de navegacion*/


#top-menu{

  margin: auto;
 
  text-decoration: none;
  border-color: #000;
  border-style: solid;
}

#post-one{

  background: #F5F5F5;
  margin: 1em;
  padding: .1em;
}
#post{

  background: #fff;
  color: #000;
  margin: .4em;

 
  
}
#post_1{

  background: #F5F5F5;
  color: #000;
  margin: .4em;
  font-weight: bold;
 
  
}


ul,ol{

  list-style: none;
  
}

.nav li a{

  

  border-radius: .1em;
  
  background: #000;
  color: #fff;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: .8em;
  display:block;
   -ms-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;



}

.nav li a:hover{

    border-radius: .1em;

    color: #000;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;

}




.nav > li{

  float: left;



}

.nav li ul{

  display: none;
  position: absolute;
  min-width: 165px;
  text-align: middle;
  margin-left: -7.35em;
  height: 3em;

}

.nav li:hover>ul{

  display: block;


}

.nav li ul li{


  position: relative;
}


div#top-menu ul li a.selected {



  vertical-align: middle;
  color: #fff;
  height: 3em;
  border-color: #454;
  border-style: solid;


}

div#top-menu ul li a.selected:hover{

  color: #000;
  height: 3em;
  background: #fff;
  
}




/*sombras de imagenes*/

.fade{
  
  opacity: 1;
  filter:alpha(opacity=8);

  -ms-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition:all 0.5s ease-in;
  

}

.fade:hover{
  
  opacity: .7;
  filter:alpha(opacity=7);
  -ms-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition:all 0.5s ease-out;
  

}

button{

  background: none;
}
/*fomulario*/

.form, .form-login{
 vertical-align: middle;
  display: inline-block;

}

.form,.btn{
 
  width: 300px;

  margin: .5em;
  color: #111;
 
 
  text-align: center;
 
  border-radius: .1em;
  text-decoration: none;

}
.eliminar, .megusta{

  vertical-align: middle;
  display: inline-block;
  background: #fff;
  font-family: 'Open Sans', serif;
  text-align: left;
  width: 100%;

  cursor: pointer;
  color: #000;


}

.eliminar{
  text-align: right;
}


input#xxxx,input#pgusta{

   background: #fff;
  font-family: 'Open Sans', serif;
  text-align: left;
  width: 10%;

  cursor: pointer;
  color: #000;
}
input#xxxx{

  
  font-family: 'Open Sans', serif;
  text-align: left;
  width: 40%;

  cursor: pointer;
  color: #000;
}


input#pgusta{

  width: 2%;
  text-align: center;
}

.megusta p:hover{

  text-decoration: none;
}

.eliminar:hover,.megusta #xxxx:hover,input#xxxx:hover{
  text-decoration: underline;
}

#gg:hover{

  text-decoration: none;
}

.btn{
background-color: #fff;
color: #000;
width: 14em;
}
.btn:hover{
  
  opacity: .7;
  filter:alpha(opacity=7);
  -ms-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition:all 0.5s ease-out;
  

}

p.columnas {
  -webkit-column-count: 3;
  -moz-column-count: 3;
   column-count: 3;
   width:500px;
}



.form, .form-img{

    vertical-align: middle;
  display: inline-block;
  font-family: 'Open Sans', serif;


}

.form-login{

font-family: 'Open Sans', serif;
  
  width: 10em;

  background-color: #000;
  color: #fff;

  
  text-align: center;
 
  border-radius: .2em;
  text-decoration: none;


}
.form-login:hover{

  cursor: pointer;

}
.form:focus{
  outline:0px;
}

img{

  border-radius: 100px;
}

#login a{
  color: #000;

background: #fff;

  width: 12em;

   vertical-align: middle;
  display: inline-block;
}
